/* Thanks to Netox005 for finding a better way to do this!

   Things borrowed;
   > This pen: http://codepen.io/dats-wassup/pen/EVzRvv?editors=110
*/

/* Animation stuff */
  /* Types */
  /* ! Match "to" BG position first value with
       BG size in "Animation size and type" */
@keyframes rainbowProg{
  from{
    background-position: 0px 0px
  }
  to{
    background-position: 800px 0px
  }
}
@keyframes rainbowVol{
  from{
    background-position: 0px 0px
  }
  to{
    background-position: 200px 0px
  }
}
  /* Constants */
#player-controller .infoContainerInner:after,
#player-controller .progressBg,
.ui-slider-range-min,
.ui-slider,
.playerPreview .loaded,
.playerPreview .progress{
  /* ! Duration for speed; Lower is faster */
  animation-duration: 5s !Important;
  animation-timing-function: linear !important;   /* <--+++++++++++++++++++++++++++ */
  animation-iteration-count: infinite !important; /* <--+                         + */
  background-repeat: repeat-x !Important;         /* <--+ Don't touch any of this + */
  background-attachment: fixed !Important;        /* <--+                         + */
  background-color: transparent !Important;       /* <--+++++++++++++++++++++++++++ */
}

/* Colours */
  /* Footer overlay */
#player-controller .infoContainerInner:after {
  z-index: 0; /* ! Don't touch this, explained at bottom */
  width: 100%;        /* <--+++++++++++++++++++++++++++++++++++++++++++++ */
  height: 5px;        /* <--+                                           + */
  content: '';        /* <--+   Don't touch any of this; These define   + */
  position: absolute; /* <--+ pseudochild size, position and visibility + */
  bottom: 0;          /* <--+                                           + */
  left: 0px;          /* <--+++++++++++++++++++++++++++++++++++++++++++++ */
}
  /* Volume slider */
.ui-slider-handle{
  background-color: #fff !Important;
}
  /* Rainbow gradients */
    /* Bright */
#player-controller .progressBg,
.ui-slider-range-min,
.playerPreview .progress{
  background-image: linear-gradient(to left,
                                    rgb(255, 255, 255) 0%,
                                    rgb(230, 255, 255) 2.86%,
                                    rgb(204, 255, 255) 5.72%,
                                    rgb(179, 255, 255) 8.58%,
                                    rgb(153, 255, 255) 11.44%,
                                    rgb(128, 255, 255) 14.3%,
                                    rgb(102, 255, 255) 17.16%,
                                    rgb(77, 255, 255) 20.02%,
                                    rgb(51, 255, 255) 22.88%,
                                    rgb(26, 255, 255) 25.74%,
                                    rgb(0, 255, 255) 28.6%,
                                    rgb(0, 230, 230) 31.46%,
                                    rgb(0, 204, 204) 34.32%, 
                                    rgb(0, 128, 128) 37.18%,
                                    rgb(0, 102, 102) 40.04%,
                                    rgb(0, 77, 77) 42.9%,
                                    rgb(0, 51, 51) 45.76%,
                                    rgb(0, 26, 26) 48.62%,
                                    rgb(0, 26, 26) 51.48%,
                                    rgb(0, 51, 51) 54.34%
                                    rgb(0, 77, 77) 57.2%,
                                    rgb(0, 102, 102) 60.06%, 
                                    rgb(0, 128, 128) 62.92%,
                                    rgb(0, 204, 204) 65.78%, 
                                    rgb(0, 230, 230) 68.64%,
                                    rgb(0, 255, 255) 71.5%,
                                    rgb(26, 255, 255) 74.36%,
                                    rgb(51, 255, 255) 77.22%,
                                    rgb(77, 255, 255) 80.08%, 
                                    rgb(102, 255, 255) 82.94%,
                                    rgb(128, 255, 255) 85.8%, 
                                    rgb(153, 255, 255) 88.66%, 
                                    rgb(179, 255, 255) 91.52%, 
                                    rgb(204, 255, 255) 94.38%, 
                                    rgb(230, 255, 255) 97.24%,
                                    rgb(255, 255, 255) 100%)!Important;
}
    /* Dark */
#player-controller .infoContainerInner:after,
.ui-slider,
.playerPreview .loaded{
  background-image: linear-gradient(to left,
-                                    rgb(47, 0, 0) 0%,
 -                                    rgb(47, 23, 0) 8.34%,
 -                                    rgb(47, 47, 0) 16.67%,
 -                                    rgb(23, 47, 0) 25%,
 -                                    rgb(0, 47, 0) 33.34%,
 -                                    rgb(0, 47, 23) 41.67%,
 -                                    rgb(0, 47, 47) 50%,
 -                                    rgb(0, 23, 47) 58.33%,
 -                                    rgb(0, 0, 47) 66.67%,
 -                                    rgb(23, 0, 47) 75%,
 -                                    rgb(47, 0, 47) 83.33%,
 -                                    rgb(47, 0, 23) 91.67%,
 -                                    rgb(47, 0, 0) 100%) !Important;
}

/* Animation size and type */
  /* Progress bars */
#player-controller .left,
#player-controller .infoContainerInner:after,
#player-controller .progressBg,
.playerPreview .loaded,
.playerPreview .progress{
  background-size: 800px 100% !Important;
  animation-name: rainbowProg !Important;
}
  /* Volume */
.ui-slider-range-min,
.ui-slider{
  background-size: 200px 100% !Important;
  animation-name: rainbowVol !Important;
}

/* Opacity for player preview */
.playerPreview .loaded{
  opacity: 1 !Important;
}

/* ! Don't touch this; it places footer content
     above the "Footer overlay" pseudochild */
#player-controller *{
  z-index: 1 !Important;
}
